<div class="container p-1">
    <div class="row">
        <div class="mx-auto  w-100">
            <div class="card text-center">
                <div class="card-body">
                    <div><h1>Dashboard</h1></div>
                    <h5>Bienvenido {{user.fullname}}</h5>
                    <h6>{{user.username}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>