.animate-zoom{animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.app-title{font: italic bold 40px Georgiaz}
.cursor-zoom { cursor: zoom-in}
.display-topright{position:absolute;right:0;top:0}
.hover-red:hover{color:#fff!important;background-color:#f44336!important}
.modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.modal{z-index: 3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.xlarge{font-size:92px!important}
@font-face{font-family: Georgiaz;src: url('../fonts/georgiaz.ttf')}
body{background-color: grey;padding-bottom: 20px}
footer{position: fixed;left: 0;bottom: 0;width: 100%;background-color: #343a40;color: white;text-align: center}
table tbody tr{cursor: pointer}
.comment-box{padding-left:30px;width: 90%;background-color:#d8d8d8;margin-top: 5px;border-radius: 5px;}
.comment-by{text-align: end; padding-right: 30px;font-size: 12px;}