<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>
                        {{#unless projectData}}
                            Nuevo Proyecto
                        {{ else }}
                            Editando Proyecto
                        {{/unless }}
                    </h3>
                </div>
                <div class="card-body">
                    <form action="/projects/ {{projectData.id}}" method="POST">
                        <div style="text-align: left">
                            <dl>
                                <dt><label for="fullname">Nombre:</label></dt>
                                <dd><input type="text" name="name" placeholder="Nombre" class="form-control" value="{{projectData.name}}" autofocus></dd>
                            </dl>

                            <div class="form-group">
                                <button class="btn btn-success btn-block">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>