{{#if user}}
    <footer>
        <!-- Usuario logeado -->
        <div class="text-center py-3">Usuario:
            <a href="/profile"> {{user.fullname}} - {{user.username}}</a>
        </div>
    </footer>
{{/if}}