{{#if user}}
    <footer>
        <!-- Usuario logeado -->
        <div class="text-center">Usuario:
            <a href="/profile"> {{user.fullname}} - {{user.username}}</a>
        </div>
    </footer>
{{/if}}