{{#if user}}
    <div class="col-sm-3 col-md-2 sidebar flex-shrink-1 bg-dark pt-3" id="Navbar">
        <ul class="nav flex-sm-column position-fixed">
            <li class="nav-item active">
                <a class="nav-link" href="/admin">Administraci贸n</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/projects">Gesti贸n de configuraci贸n</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/tasks">Desarrollo </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-outline-danger" href="/logout">Cerrar Sesi贸n</a>
            </li>
        </ul>
    </div>
{{/if}}