<div class="container p-4">
    <div class="row">
      <div class="col-md-4 mx-auto">
          <div class="card">
              <div class="card-body">
                  <form action="/admin/users" method="get">
                    <div class="form-group">
                        <button class="btn btn-success btn-block">
                            Administrar Usuarios
                        </button>
                    </div>
                  </form>
              </div>
          </div>
      </div>  
    </div>
</div>