<div class="container p-4">
    <div class="row">
        <div class="w-100 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>
                        {{#unless rolData}}
                            Nuevo Rol
                        {{ else }}
                            Editando Rol
                        {{/unless }}
                    </h3>
                </div>
                <div class="card-body">
                    <form action="/admin/roles {{rolData.id}}" method="POST">
                        <div style="text-align: left">
                            <dl>
                                <dt><label for="fullname">Nombre:</label></dt>
                                <dd><input type="text" name="name" placeholder="Nombre" class="form-control" value="{{rolData.name}}" autofocus></dd>
                            </dl>
                    <div class="col-md-6 card-body">
                        <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Permiso 1</label>
                        </div>
                        <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Permiso 2</label>
                        </div>
                        <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled">
                                <label class="form-check-label" for="flexSwitchCheckDisabled">Permiso 3</label>
                        </div>
                        <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled">
                                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Permiso 4</label>
                        </div>
                    </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>