<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Nuevo Rol</h3>
                </div>
                <div class="card-body">
                <form action="/{{p.id}}" method="POST" enctype="multipart/form-data">
                        <div class="col-sm-6">  
                            <dl>
                                <dt><label for="name">Nombre</label></dt>
                                <dd><input type="text" value="{{p.name}}" class="form-control" name="name" placeholder="Nombre"  autofocus></dd>
                        </div>
                    <div class="col-md-6 card-body">
                        <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Permiso 1</label>
                        </div>
                        <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Permiso 2</label>
                        </div>
                        <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled">
                                <label class="form-check-label" for="flexSwitchCheckDisabled">Permiso 3</label>
                        </div>
                        <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled">
                                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Permiso 4</label>
                        </div>
                    </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Añadir
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>